[[["http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   "http://www.w3.org/2000/01/rdf-schema#"
   "http://www.w3.org/2002/07/owl#"
   "http://purl.org/dc/terms/"
   "http://purl.org/dc/dcmitype/"
   "http://xmlns.com/foaf/0.1/"
   "http://www.w3.org/2004/02/skos/core#"
   "http://schema.org/"
   "http://vocab.deri.ie/void"
   "http://thi.ng/owl/edit-any/"]
  "rdf:type" "owl:Ontology"]
 {"rdf"    {"rdf:type" "rdf:Description"
            "rdf:about" "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
  "rdfs"    {"rdf:type" "rdf:Description"
             "rdf:about" "http://www.w3.org/2000/01/rdf-schema#"}
  "owl"     {"rdf:type" "rdf:Description"
             "rdf:about" "http://www.w3.org/2002/07/owl#"}
  "dcterms" {"rdf:type" "rdf:Description"
             "rdf:about" "http://purl.org/dc/terms/"}
  "dctypes" {"rdf:type" "rdf:Description"
             "rdf:about" "http://purl.org/dc/dcmitype/"}
  "foaf"    {"rdf:type" "rdf:Description"
             "rdf:about" "http://xmlns.com/foaf/0.1/"}
  "skos"    {"rdf:type" "rdf:Description"
             "rdf:about" "http://www.w3.org/2004/02/skos/core#"}
  "schema"  {"rdf:type" "rdf:Description"
             "rdf:about" "http://schema.org/"}
  "void"    {"rdf:type" "rdf:Description"
             "rdf:about" "http://vocab.deri.ie/void"}
  "ea"      {"rdf:type" "rdf:Description"
             "rdf:about" "http://thi.ng/owl/edit-any/"}

  ;; default page

  "Index"
  {"dcterms:description"
   "# Welcome to EditAnything

Use the Edit tab to change this content (using [GitHub flavored Markdown](https://help.github.com/articles/github-flavored-markdown/) syntax).

## Add metadata

Use the textbox in the sidebar to add more attributes to describe & link this resource:

```
dcterms:contributor=toxi
sioc:topic=topics:wiki
sioc:topic=topics:faceted-nav
```"
   "dcterms:format" "text/x-markdown"
   "dcterms:creator" "EA"
   "rdfs:label" "EA Index"
   "rdf:type" "schema:Article"}

  ;; system user

  "EA" {"dcterms:description" "This is the EditAnything system user"
        "rdfs:label" "EditAnything"
        "rdf:type" "foaf:Agent"
        "foaf:homepage" "https://github.com/postspectacular/edit-any"}

  "dcterms:creator" {"rdfs:label" "created by"}

  "schema:Article" {"ea:hasTemplate" "article-template"}
  "ea:Template" {"ea:hasTemplate" "template-template"}

  "article-template" {"rdf:type" "ea:Template"
                      "ea:query"
                      "{:main
                        {:select :*
                         :query [{:where [[?this \"rdfs:label\" ?title]
                                          [?this \"dcterms:description\" ?body]]}]}}"
                      "ea:instanceView"
                      "[[:div
                         [:h1 \"Title: \" ?main:title]
                         [:h3 \"Body\"]
                         ?main:body]]"}

  "template-template" {"rdf:type" "ea:Template"
                       "ea:query"
                       "{:main
                        {:select :*
                         :query [{:where [[?this \"ea:query\" ?q]
                                          [?this \"ea:instanceView\" ?tpl]]}]}}"
                       "ea:instanceView"
                       "[[:div
                         [:h3 \"Query:\"] [:textarea.form-control {:name \"attribs[ea:query]\" :rows 10} ?main:q]
                         [:h3 \"Template\"] [:textarea.form-control {:name \"attribs[ea:instanceView]\" :rows 10} ?main:tpl]]]"}

  "new-vocab-attribs"
  {"rdf:type" "ea:AttributeCollection"
   "dcterms:description"
   "rdf:type=rdf:Description\nrdf:about=<<uri>>"}
  "article-attribs"
  {"rdf:type" "ea:AttributeCollection"
   "dcterms:description"
   "rdf:type=schema:Article"}}]
