#sidebar {
    border-left: 1px solid #ddd;
}

#sidebar .attribs {
    font-size: 85%;
}

a.delete {
  color: red;
}

pre {
  font-family: "Inconsolata", monospace !important;
  background-color: #fdf6e3;
}

textarea {
    font-family: "Inconsolata", monospace !important;
    resize: vertical;
}

.tab-content>.tab-pane {
    margin-top: 1em;
}