#sidebar {
    border-left: 1px solid #ddd;
}

#sidebar .attribs {
    font-size: 85%;
}

a.delete {
  color: red;
}

pre {
  background-color: #fdf6e3;
}

textarea {
    font-family: monospace !important;
}